#header-container {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 1);
  box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 1);
}

.active-link {
  color: #f26f20;
  border-bottom: 2px solid #f26f20;
}
