<div id="header-container" class="container-fluid">
  <div class="container px-4 pt-3">
    <div class="row py-3">
      <div class="col-12">
        <img src="assets/logo.png" height="60" alt="PGS logo">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="navbar-nav flex-row">
          <li class="nav-item mr-2 mr-sm-3 mr-md-3 mr-lg-3 mr-xl-3 active">
            <a class="nav-link mat-tab-link"
               [routerLink]="['about']"
               [routerLinkActive]="'active-link'">
              ABOUT US
            </a>
          </li>
          <li class="nav-item mx-2 mx-sm-3 mx-md-3 mx-lg-3 mx-xl-3">
            <a class="nav-link mat-tab-link"
               [routerLink]="['skicams']"
               [routerLinkActive]="'active-link'">
              SKICAMS
            </a>
          </li>
          <li class="nav-item mx-2 mx-sm-3 mx-md-3 mx-lg-3 mx-xl-3">
            <a class="nav-link mat-tab-link"
               [routerLink]="['contact']"
               [routerLinkActive]="'active-link'">
              CONTACT
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
