<div class="container center-flex">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <form
            [formGroup]="contactForm"
            id="contact-form"
            class="d-flex flex-column px-4 px-sm-5 py-sm-1 px-md-5 py-md-2 px-lg-5 py-lg-3 px-xl-5 py-xl-3"
            (ngSubmit)="submit()">
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input
                type="text"
                formControlName="name"
                matInput
                required>
              <mat-error
                *ngIf="!contactForm.value.name.valid"
                style="text-align: center; font-size: smaller;">
                Please fill up your name.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" class="mb-5">
              <mat-label>Email</mat-label>
              <input
                email
                type="email"
                formControlName="email"
                matInput
                required>
              <mat-error
                *ngIf="!contactForm.value.email.valid"
                style="text-align: center; font-size: smaller;">
                Please provide valid email address.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Message</mat-label>
              <textarea
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                formControlName="message"
                matInput></textarea>
            </mat-form-field>
            <div class="w-100 text-right">
              <button
                [disabled]="!contactForm.valid"
                type="submit"
                mat-raised-button
                class="contact-button">
                SEND
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

