#footer-container {
  height: 150px;
  width: 100%;
  background-color: #282828;
  color: #777777;
  -webkit-box-shadow: 0px -1px 5px 0px rgba(158, 158, 158, 1);
  -moz-box-shadow: 0px -1px 5px 0px rgba(158, 158, 158, 1);
  box-shadow: 0px -1px 5px 0px rgba(158, 158, 158, 1);
}
