<div id="footer-container">
  <div class="container center-flex h-100">
    <div class="row w-100">
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 m-auto">
        <hr style="border-color: #4E4E50;">
      </div>
      <div class="col-12 text-center">
        Powered by PGS
      </div>
    </div>
  </div>
</div>
