.page-not-found {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-not-found {
  .heading {
    font-size: 8rem;
    line-height: 8rem;
    font-weight: bold;
    color: #6198f3;
  }

  .subheading {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 20px;
  }

  .btn-redirect {
    color: #6198f3;
  }
}

@media (max-width: 767px) {
  .page-not-found {
    .heading {
      font-size: 5rem;
      line-height: 5rem;
      font-weight: bold;
      color: #6198f3;
    }

    .subheading {
      font-size: 0.8rem;
      line-height: 0.8rem;
      margin-bottom: 20px;
    }

    .btn-redirect {
      color: #6198f3;
    }
  }
}
