<div class="container page-not-found">
  <div class="row">
    <div class="col-12 heading mat-h1">
      OOPS!
    </div>
    <div class="col-12 subheading mat-subheading-2">
      We can't find the page you're looking for.
    </div>
    <div class="col-12">
      <button class="btn-redirect" mat-stroked-button [routerLink]="['']">Visit homepage</button>
    </div>
  </div>
</div>
