<app-spinner [isLoading]="isLoading"></app-spinner>
<div *ngIf="!isLoading" class="container pt-5 pt-sm-5 pt-md-5 pt-lg-5 pt-xl-5">
  <div class="row">
    <div *ngFor="let skiCam of skiCams" class="col-12 col-sm-12 col-lg-6 col-xl-6 mb-5">
      <mat-card>
        <div class="container p-0 text-right" style="color: #d3d3d3;">
          {{date | date: 'dd-MM-yyyy'}}
        </div>
        <mat-card-content>
          <mat-card-title class="text-center">{{skiCam.name}}</mat-card-title>
        </mat-card-content>
        <img
          *ngFor="let image of skiCam.cams"
          mat-card-image src="{{image.url}}"
          alt="Ski Camera Photo"
          class="mb-0">
      </mat-card>
    </div>
  </div>
</div>
