/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f8f8f8 !important;
  color: #5c5c5c !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card-content, .mat-tab-link {
  color: #5c5c5c;
}

.mat-card-content {
  padding: 15px 10px 15px 10px;
}

.mat-card-title {
  font-weight: 400;
}

.mat-card img {
  height: 250px;
}

.mat-card {
  border-radius: 0 !important;
}
