<div class="container pt-5 pt-sm-5 pt-md-5 pt-lg-0 pt-xl-0">
  <div class="row">
    <div *ngFor="let card of cards" class="col-12 col-sm-6 col-lg-4 col-xl-4 mb-5">
      <mat-card>
        <img
          style="object-fit: cover;"
          mat-card-image src="./assets/{{card}}.jpg"
          alt="Personal things photo">
        <mat-card-content>
          <mat-card-title>
            Lorem ipsum
          </mat-card-title>
          <p>
            Eitam ullamcorper. Suspendisse a pellentesque dui, non felis maecenas.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
